/*
    * Hoja de estilos de: recuperarCuenta.html
*/

/****************************************FUENTES PERSONALIZADAS****************************************/
@font-face
{
    font-family: 'FuenteRobot';
    src: url('/fonts/RobotoMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'FuenteUbuntuRegular';
    src: url('/fonts/UbuntuNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'FuenteUbuntuLight';
    src: url('/fonts/UbuntuNerdFont-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/******************************************************************************************************/

/************************************ESTILO DEL BODY DE LA PÁGINA**************************************/
body 
{
    margin: 0;
    padding: 0;
    font-family: 'FuenteUbuntuRegular';
}
/******************************************************************************************************/

/************************************ESTILO DEL TITULO DE LA PÁGINA************************************/
/*Estilo del titulo de la página*/
.tituloPagina
{
    font-size: 65px;
    padding-top: 40px;
}
/******************************************************************************************************/

/********************************ESTILO DE LAS DECORACIONES DE LA PÁGINA*******************************/
/*Estilo del logo superior izquierdo*/
.logoSuperiorIzquierdo
{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(180deg);
}

.logoSuperiorIzquierdo img
{
    width: 300px;
    height: 250px;
}

/*Estilo del logo inferior derecho*/
.logoInferiorDerecho
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
}

.logoInferiorDerecho img
{
    width: 300px;
    height: 250px;
}

.logoInferiorIzquierdo
{
    position: absolute;
    left: 0px;
    top: 620px;
}
/******************************************************************************************************/

/************************************AJUSTE DE LA ENTRADA DE DATOS*************************************/
/*Estilo de la entrada de datos*/
.entradaDeDatos
{
    font-family: 'FuenteUbuntuLight';
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Estilo de las entradas de datos*/
input
{
    width: 500px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    padding-left: 10px;
    margin: 0px;
}

/*Estilo del select*/
select
{
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    padding-left: 10px;
    margin: 0px;
}

.textoCorreo {padding-bottom: 100px; }
/******************************************************************************************************/

/*********************************ESTILO DEL BOTON DE RECUPERAR CUENTA*********************************/
/*Estilo del boton*/
button
{ 
    font-size: 40px;
    background-color: #243386;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 0px 25px 0px 25px;
}

/*Ajuste del boton de recuperar cuenta*/
.botonDeRecuperacion
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/******************************************************************************************************/

/*******************************************BOTON DE REGRESO*******************************************/
.regresoPagina
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regresoPagina img
{
    width: 80px; 
    height: 80px;
}
/******************************************************************************************************/

/******************************************ESTILO DEL FOOTER*******************************************/
footer 
{
    position: absolute;
    background-color: #243386;
    color: white;
    font-size: 30px;
    width: 30px;
    top: 925px;
    left: 0px;
    padding-left: 1890px;
}
/******************************************************************************************************/

/*------------------------------------------------------------------------------------------------------------------------*/

/******************************************PÁGINA RESPONSIVA*******************************************/
@media (max-width:1280px)
{
    /************************************ESTILO DEL TITULO DE LA PÁGINA************************************/
    /*Estilo del titulo de la página*/
    .tituloPagina
    {
        font-size: 45px;
        padding-top: 35px;
    }
    /******************************************************************************************************/

    /********************************ESTILO DE LAS DECORACIONES DE LA PÁGINA*******************************/
    .logoSuperiorIzquierdo img, .logoInferiorDerecho img
    {
        width: 200px;
        height: 150px;
    }

    /*Estilo del logo inferior derecho*/
    .logoInferiorDerecho
    {
        position: absolute;
        top: 70%;
        left: 84%;
        transform: translate(-50%, -50%);
        transform: rotate(0deg);
    }

    .logoInferiorIzquierdo
    {
        position: absolute;
        top: 47%;
        left: 0%;
    }
    /******************************************************************************************************/

    /************************************AJUSTE DE LA ENTRADA DE DATOS*************************************/
    /*Estilo de la entrada de datos*/
    .entradaDeDatos
    {
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*Estilo de las entradas de datos*/
    input
    {
        height: 30px;
        font-size: 20px;
    }

    /*Estilo del select*/
    select
    {
        font-size: 20px;
    }

    .textoCorreo {padding-bottom: 50px; }
    /******************************************************************************************************/

    /*********************************ESTILO DEL BOTON DE RECUPERAR CUENTA*********************************/
    /*Estilo del boton*/
    button
    { 
        font-size: 20px;
    }

    /*Ajuste del boton de recuperar cuenta*/
    .botonDeRecuperacion
    {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /******************************************************************************************************/

    /*******************************************BOTON DE REGRESO*******************************************/
    .regresoPagina
    {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /******************************************************************************************************/

    /******************************************ESTILO DEL FOOTER*******************************************/
    footer
    {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 0px 10px 0px 1239px;
    }
    /******************************************************************************************************/
}
/******************************************************************************************************/