/*
    * Hoja de estilos de: paginaDeInformacion.html
*/

/****************************************FUENTES PERSONALIZADAS****************************************/
@font-face
{
    font-family: 'FuenteRobot';
    src: url('/salud-mental/fonts/RobotoMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'FuenteUbuntuRegular';
    src: url('/salud-mental/fonts/UbuntuNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'FuenteUbuntuLight';
    src: url('/salud-mental/fonts/UbuntuNerdFont-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/******************************************************************************************************/

/************************************ESTILO DEL BODY DE LA PÁGINA**************************************/
body 
{
    margin: 0;
    padding: 0;
    font-family: 'FuenteUbuntuRegular';
}
/******************************************************************************************************/

/*************************************CONFIGURACIÓN DE LA CABECERA*************************************/
/*Estilo de la cabecera*/
.cabeceraPagina
{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    padding-top: 10px;
    gap: 20px;
}

/*Estilo de las entradas de datos*/
input
{
    width: 1120px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    padding-left: 10px;
    margin: 0px;
}

/*Ajuste de los iconos*/
.iconoRegreso img
{
    width: 80px;
    height: 80px;
}

.iconoUsuario img
{
    width: 80px;
    height: 80px;
}

/*Estilo de los botones*/
button
{
    font-size: 30px;
    background-color: #243386;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
}

/*Ajustes buscador y boton*/
.buscador 
{ 
    font-family: 'FuenteUbuntuLight';
    padding-top: 20px;
    padding-right: 250px;
}
#opcion { padding-top: 25px; }
/******************************************************************************************************/

/**********************************ESTILO DE LOS SUBTEMAS DE LA PÁGINA*********************************/
/*Estilo subtemas*/
.subTemas
{
    padding-top: 80px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

/*Estilo del texto de informe*/
.textoDeInforme
{
    font-size: 30px;
    font-family: 'FuenteUbuntuLight';
}

/*Ajuste de la imagen del subtema*/
.imagenDelTema { padding-left: 40px; }
/******************************************************************************************************/

/****************************************ESTILO DE LOS SUBTEMAS****************************************/
.actividadesInformativas
{
    font-family: 'FuenteUbuntuLight';
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 0%;
}

#textos
{
    text-align: center;
    background-color: #9ab7e9;
    color: white;
    clip-path: inset(10% round 30px);
    padding: 20px 200px 20px 200px;
}
/******************************************************************************************************/

/******************************AJUSTES DE LOS NÚMEROS DE LAS ACTIVIDADES*******************************/
.numeroActividades
{
    font-family: 'FuenteUbuntuLight';
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 3%;
}

#numeros
{
    text-align: center;
    font-size: 30px;
    background-color: #6477a3;
    color: white;
    clip-path: inset(10% round 30px);
    padding: 20px 30px 20px 30px;
}
/******************************************************************************************************/

/****************************************AJUSTE DE LOS ICONOS******************************************/
.iconosPrincipales
{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 75%;
    left: 68%;
    transform: translate(-50%, -50%);
    gap: 0px 100px;
}

.progresoIcon img, .chatIcon img, .citasIcon img
{
    width: 200px;
    height: 200px;
}

#nombresIconosPrincipales
{
    font-family: 'FuenteUbuntuLight';
    font-size: 30px;
}
/******************************************************************************************************/

/**************************************ESTILO FOOTER DE LA PÁGINA**************************************/
/*Estilo del footer*/
footer 
{
    background-color: #243386;
    color: white;
    font-size: 30px;
    width: 30px;
    position: absolute;
    top: 925px;
    left: 0px;
    padding-left: 1890px;
}
/******************************************************************************************************/

/*------------------------------------------------------------------------------------------------------------------------*/

/******************************************PÁGINA RESPONSIVA*******************************************/
@media (max-width:1280px)
{
    /*************************************CONFIGURACIÓN DE LA CABECERA*************************************/
    /*Estilo de la cabecera*/
    .cabeceraPagina
    {
        padding-top: 10px;
        gap: 10px;
    }

    /*Estilo de las entradas de datos*/
    input
    {
        width: 800px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px;
        margin: 0px;
    }

    /*Ajuste de los iconos*/
    .iconoRegreso img, .iconoUsuario img
    {
        width: 80px;
        height: 80px;
    }

    /*Estilo de los botones*/
    button
    {
        font-size: 20px;
    }

    /*Ajustes buscador y boton*/
    .buscador 
    {
        padding-right: 40px;
    }
    #opcion { padding-top: 25px; }
    /******************************************************************************************************/

    /**********************************ESTILO DE LOS SUBTEMAS DE LA PÁGINA*********************************/
    /*Estilo subtemas*/
    .subTemas
    {
        padding-top: 40px;
    }

    /*Estilo del texto de informe*/
    .textoDeInforme
    {
        font-size: 20px;
    }

    /*Ajuste de la imagen del subtema*/
    .imagenDelTema { padding-left: 10px; }
    .imagenDelTema img
    {
        width: 284px;
        height: 214px;
    }
    /******************************************************************************************************/

    /****************************************ESTILO DE LOS SUBTEMAS****************************************/
    .actividadesInformativas
    {
        font-size: 20px;
        position: absolute;
        top: 64%;
        left: 0%;
    }

    #textos
    {
        padding: 10px 100px 10px 100px;
    }
    /******************************************************************************************************/

    /******************************AJUSTES DE LOS NÚMEROS DE LAS ACTIVIDADES*******************************/
    .numeroActividades
    {
        position: absolute;
        top: 64%;
        left: 3%;
    }

    #numeros
    {
        text-align: center;
        font-size: 20px;
        padding: 10px 15px 10px 15px;
    }
    /******************************************************************************************************/

    /****************************************AJUSTE DE LOS ICONOS******************************************/
    .progresoIcon img, .chatIcon img, .citasIcon img
    {
        width: 100px;
        height: 100px;
    }

    #nombresIconosPrincipales
    {
        font-size: 20px;
    }
    /******************************************************************************************************/

    /******************************************ESTILO DEL FOOTER*******************************************/
    footer
    {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 0px 10px 0px 1239px;
    }
    /******************************************************************************************************/
}
/******************************************************************************************************/