/*
    * Hoja de estilos de: stylesLogin.html
*/

/*Agregar fuente personalizada*/
@font-face
{
    font-family: 'FuentePrincipal';
    src: url('/salud-mental/fonts/RobotoMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Estilo del body*/
body 
{
    margin: 0px;
    font-family: 'FuentePrincipal';
}


/*Estilo de los 2 fondos*/
.fondosDivididos
{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

/*Estilo del fondo izquierdo*/
.izquierda
{
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    height: 957px;
    width: 960px;
}

/*Estilo del fondo derecho*/
.derecha
{
    background-image: url('/salud-mental/images/FONDO-SESION.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1400px 957px;
    height: 957px;
    width: 955px;
}

/*Estilo texto bienvenida*/
.textoBienvenida
{  
    position: absolute;
    left: 250px;
    top: 100px;
    font-size: 70px;
}

/*Estilo de la casilla de confirmación*/
.recordarUsuario
{
    display: grid;
    justify-content: center;
    grid-template-columns: 380px 360px auto;
    position: absolute;
    left: -200px;
    top: 510px;
}

/*Estilo del boton de sesion*/
.botonDeSesion
{
    position: absolute;
    left: 300px;
    top: 620px;
}

/*Estilo del boton*/
button
{ 
    font-size: 40px;
    background-color: #243386;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 0px 25px 0px 25px;
}

/*Estilo del registro de cuenta*/
.registroCuenta
{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 20px;
    font-size: 20px;
    position: absolute;
    left: 300px;
    top: 700px;
}

/*Estilo del icono de regreso*/
.regresoPagina
{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 430px;
    top: 850px;
}

/*Estilo de la caja de texto del correo*/
.textoCorreo
{  
    position: absolute;
    left: 130px;
    top: 250px;
    font-size: 25px;
}

/*Estilo de la caja de texto de la contraseña*/
.textoContraseña
{  
    position: absolute;
    left: 130px;
    top: 380px;
    font-size: 25px;
}

/*Estilo de las entradas de datos*/
input
{
    width: 700px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    padding-left: 10px;
    margin: 0px;
}

/*Estilo de los terminos del usuario*/
#terminos
{
    padding: 0px;
    border-radius: 50%;
}

/*Estilo de las condiciones del usuario*/
.condiciones 
{ 
    padding-top: 5px; 
    font-size: 20px;
}

/*Estilo del abclaje del URL*/
a 
{
    text-decoration: none;
    color: inherit;
}