/*
    * Hoja de estilos de: paginaCarga.html
*/

/****************************************FUENTES PERSONALIZADAS****************************************/
@font-face
{
  font-family: 'FuenteRobot';
  src: url('/salud-mental/fonts/RobotoMonoNerdFont-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'FuenteUbuntuRegular';
  src: url('/salud-mental/fonts/UbuntuNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'FuenteUbuntuLight';
  src: url('/salud-mental/fonts/UbuntuNerdFont-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/******************************************************************************************************/

/************************************ESTILO DEL BODY DE LA PÁGINA**************************************/
body
{ 
  font-family: 'FuenteUbuntuLight';
  font-weight: 900;
  overflow: hidden;
}
/******************************************************************************************************/

/************************************ESTILO DE LA IMAGEN DE FONDO**************************************/
.fondoImagen
{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  background-image: url('/salud-mental/images/FONDO-CARGA.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}
/******************************************************************************************************/

/************************************ESTILO DE LA ANIMACIÓN DE CARGA***********************************/
/*Texto de carga*/
.cargando
{
  position: relative;
  margin-top: 2em;
  letter-spacing: 0.08em;
  text-transform: uppercase
}

/*Estilo de las barras de carga*/
.contenedor-loader
{  
  height: 6em;
}

/*Estilo del contenedor de carga*/
#contenedor
{
  display: grid;
  place-content: center;
  height: 100vh;
}

/*Animaciones de la barra de carga*/
.loader, .loader:before, .loader:after 
{
  background: #243386;
  animation: cargando 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

/*Animaciones de la barra de carga*/
.loader:before, .loader:after
{
  position: absolute;
  top: 0;
  content: '';
}

/*Estilo de la barra de carga*/
.loader:before 
{
  left: -1.5em;
}

/*Estilo y animación de la barra de carga*/
.loader 
{
  text-indent: -9999em;
  margin: 40% auto;
  position: relative;
  font-size: 11px;
  animation-delay: 0.16s;
}

/*Tiempo de animación de la barra de carga*/
.loader:after 
{
  left: 1.5em;
  animation-delay: 0.32s;
}

/*Animación principal de carga*/
@keyframes cargando 
{
  0%,
  80%,
  100% 
  {
    box-shadow: 0 0 #243386;
    height: 4em;
  }
  40% 
  {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
/******************************************************************************************************/