/*
    * Hoja de estilos de: index.html
*/

/****************************************FUENTES PERSONALIZADAS****************************************/
@font-face
{
    font-family: 'FuenteRobot';
    src: url('/salud-mental/fonts/RobotoMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'FuenteUbuntuRegular';
    src: url('/salud-mental/fonts/UbuntuNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'FuenteUbuntuLight';
    src: url('/salud-mental/fonts/UbuntuNerdFont-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/******************************************************************************************************/

/************************************ESTILO DEL BODY DE LA PÁGINA**************************************/
body 
{
    margin: 0;
    padding: 0;
    font-family: 'FuenteUbuntuLight';
    height: 100vh;
    overflow: hidden;
}
/******************************************************************************************************/

/************************************ESTILO DE LA ANIMACIÓN DE CARGA***********************************/
/* Estilos para el cargador */
.loading 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}

/*Opacidad de la animación de carga*/
.loading.show { opacity: 1; }

/*Estilo las eferas de carga*/
.cargando 
{
    width: 120px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}

/*Estilo del texto de carga*/
.texto-cargando 
{
    padding-top: 20px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

/*Estilo de las esferas*/
.esferas
{
    width: 30px;
    height: 30px;
    background-color: #243386;
    animation: salto .5s alternate infinite;
    border-radius: 50%;
}

/*Tiempo de la animación de las esferas*/
.esferas:nth-child(2) { animation-delay: .18s; }

/*Tiempo de la animación de las esferas*/
.esferas:nth-child(3) { animation-delay: .37s; }

/*Animación de salto*/
@keyframes salto 
{
    from { transform: scaleX(1.25); }
    to { transform: translateY(-50px) scaleX(1); }
}
/******************************************************************************************************/

/************************************ESTILO DE LA IMAGEN DE FONDO**************************************/
.fondoImagen
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('/salud-mental/images/FONDO-PRINCIPAL.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}
/******************************************************************************************************/

/************************************ESTILO DE LOS FONDOS DIVIDIDOS************************************/
/*Ajuste de los fondos posteriores*/
.fondosDivididos 
{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*Ajuste del color izquierdo*/
.izquierda 
{
    width: 50%;
    height: 100vh;
    background-color: #5FB7DE;
}

/*Ajuste del color derecho*/
.derecha 
{
    width: 50%;
    height: 100vh;
    background-color: white;
}
/******************************************************************************************************/

/****************************************ESTILOS DEL ENCABEZADO****************************************/
/*Estilo del encabezando utilizando grid*/
.contenedorEncabezado
{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    z-index: 1;
}

/*Estilo general del boton*/
button
{
    font-size: 30px;
    background-color: #243386;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 0px 25px;
    z-index: 1;
}

/*Estilo general del anlcaje URL*/
a 
{
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

/*Ajuste del logo*/
#logo img
{
    width: 253px;
    height: 226px;
    z-index: 1;
}

/*Espaciado entre el logo y los botones de opción*/
#logo 
{ 
    padding-top: 10px;
    padding-right: 560px;
    z-index: 1;
}
#opcion 
{
    padding-top: 20px; 
    z-index: 1;   
    cursor: pointer;
    transition: transform 0.3s ease;
}

/*Aumenta el tamaño un 5%*/
#opcion:hover { transform: scale(1.05); }

/************************************ESTILO DEL TEXTO DE BIENVENIDA************************************/
.textoBienvenida
{
    font-family: 'FuenteRobot';
    position: absolute;
    font-size: 70px;
    left: 55%;
    top: 40%;
    color: #243386;
    z-index: 1;
}
/******************************************************************************************************/

/******************************************ESTILO DEL FOOTER*******************************************/
footer 
{
    position: absolute;
    background-color: #243386;
    color: white;
    font-size: 30px;
    z-index: 1;
    top: 925px;
    padding: 0px 10px 0px 1885px;
}
/******************************************************************************************************/

/*******************ESTILOS DE LA INFORMACIÓN DE LOS BOTONES CONTACTOS E INFORMACIÓN*******************/
/* Estilos para el popup de contactos */
.contactos-popup 
{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.contactos-contenido 
{
    background-color: #f8f8f8;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #333;
}

.cerrar-contactos 
{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.cerrar-contactos:hover { color: #333; }

.contactos-contenido h2 
{
    color: #2c3e50;
    margin-bottom: 15px;
}

.contactos-contenido ul 
{
    list-style-type: none;
    padding: 0;
}

.contactos-contenido li 
{
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.contactos-contenido li:before 
{
    content: "•";
    color: #2c3e50;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -2px;
}

/* Estilos generales para ambos popups (Información y Contactos) */
.popup 
{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.popup-contenido 
{
    background-color: #f8f8f8;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #333;
}

.cerrar-popup 
{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.cerrar-popup:hover { color: #333; }

.popup-contenido h2 
{
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: justify;
}

.popup-contenido ul 
{
    list-style-type: none;
    padding: 0;
}

.popup-contenido li 
{
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.popup-contenido p { text-align: justify; }

.popup-contenido li:before 
{
    content: "•";
    color: #2c3e50;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -2px;
}
/******************************************************************************************************/

/*------------------------------------------------------------------------------------------------------------------------*/

/******************************************PÁGINA RESPONSIVA*******************************************/
@media (max-width:1280px)
{
    /****************************************ESTILOS DEL ENCABEZADO****************************************/
    /*Estilo general del boton*/
    button
    {
        font-size: 20px;
        padding: 2px 25px;
    }

    /*Ajuste del logo*/
    #logo img
    {
        width: 153px;
        height: 126px;
    }

    /*Espaciado entre el logo y los botones de opción*/
    #logo 
    { 
        padding-top: 10px;
        padding-right: 280px;
    }
    #opcion { padding-top: 20px; }
    /******************************************************************************************************/

    /************************************ESTILO DEL TEXTO DE BIENVENIDA************************************/
    .textoBienvenida
    {
        position: absolute;
        font-size: 50px;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    /******************************************************************************************************/

    /******************************************ESTILO DEL FOOTER*******************************************/
    footer
    {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 0px 10px 0px 1254px;
    }
    /******************************************************************************************************/
}
/******************************************************************************************************/